#root {
  width: 100%;
  height: 100vh;
}

#App {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 4rem;
  background-color: aquamarine;
  width: 100%;
  min-height: 100vh;
  height: 100%;
 
 
}

.head {
  display: flex;
  text-align: center;
}
